<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Transport app</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [ngClass]=carClass>
        <a class="nav-link" [routerLink]="['/cars']">Cars</a>
      </li>
      <li [ngClass]=trainClass>
        <a class="nav-link" [routerLink]="['/trains']">Trains</a>
      </li>
    </ul>
  </div>
</nav>
