@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background: lightgray;
}

div * {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.jumbotron {
  width: 50%;
  background-color: #98998c;
}

/*.md-dialog-container {*/
  /*background-color: #000;*/
  /*width: 250px;*/
  /*height: 250px*/
/*}*/

.wrap-cont {
  margin: 2px;
}

md-dialog-container mat-dialog-container {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px;
  z-index: 10000;
  background: gray;
}
/*md-dialog-container {*/
  /*position: fixed;*/
  /*left: 20%;*/
  /*top: 0%;*/
  /*background-color: white;*/
  /*z-index: 100000;*/
/*}*/
