.head {
  font-weight: bold;
  text-decoration: underline;
}

.table-fixed thead {
  width: 98.5%;
}
.table-fixed tbody {
  height: 430px;
  overflow-y: scroll;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

div.panel.panel-default {
  width: 90%;
}


