<div class="container">
  <div class="row" >
    <div class="panel panel-default">
      <table class="table table-hover table-bordered table-fixed">
        <thead>
        <tr>
          <th class="col-4">Id</th>
          <th class="col-4">Name</th>
          <th class="col-4">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars ; let i = index">
          <td class="col-4"><a href="#">{{car._id}}</a></td>
          <td class="col-4">{{car.name}}</td>
          <td class="col-4"><a class="btn btn-success" (click)="showEditForm(car)" name={{car.name}}>Edit</a>
            <a class="btn btn-danger" title="Sure???" data-toggle="confirmation"
               data-singleton="true" data-popout="true" (click)="deleteCar(car)">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <form class="container" #carForm = "ngForm"
          (ngSubmit)="onSubmit(carForm.value.newName)" [hidden]="!formShown">
      <div class="jumbotron">
        <div class="form-group">
          <h3>{{editModeText}} car</h3>
          <label>Name:
            <input type="text" class="form-control" name="newName" ngModel/>
          </label>
          <div>
            <button class="btn btn-info" type="submit">{{editModeText}}</button>
          </div>
        </div>
      </div>
    </form>

    <app-form-shower [(showed)]="formShown" [(editText)]="editModeText"></app-form-shower>
  </div>
</div>
<popup (confirmClick)="confirmDelete()">
</popup>
